/Kilder kraftpriser.docx
/NVE - Langsiktig kraftmarkedsanalyse.pdf
/Prediksjon av strømpriser.PNG
/Prediksjon av strømpriser2.PNG
/Prediksjon av strømpriser3.PNG
/Prediksjon av strømpriser4.PNG
/Prediksjon av strømpriser5.PNG
/Statistikk for strømpriser.xlsx
/~$Eksempel_timesforbruk.xlsx
/~$Prissatser_nettleie.xlsx